# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
[mysql]
default-character-set = utf8mb4

[mysqld]

# 开启 binlog
log-bin=mysql-bin
# 选择 row 模式
binlog-format=row
# 配置 MySQL replaction 需要定义，不要和 canal 的 slaveId 重复
server_id=1

log_bin_trust_function_creators=1

character-set-server=utf8mb4
collation-server=utf8mb4_bin

innodb_default_row_format=DYNAMIC
innodb_large_prefix=ON
innodb_file_format=Barracuda
innodb_log_file_size=2G

max_allowed_packet=256M

# 事务级别
transaction-isolation=READ-COMMITTED

# 表名在硬盘上以小写保存，名称比较对大小写不敏感
lower_case_table_names=1
# MySQL 5.7 中的默认 SQL 模式包括以下模式：
# ONLY_FULL_GROUP_BY、STRICT_TRANS_TABLES、NO_ZERO_IN_DATE、NO_ZERO_DATE、ERROR_FOR_DIVISION_BY_ZERO、NO_AUTO_CREATE_USER 和 NO_ENGINE_SUBSTITUTION。
# MySQL 5.7.5 中添加了 ONLY_FULL_GROUP_BY 和 STRICT_TRANS_TABLES 模式。
# 在 MySQL 5.7.7 中添加了 NO_AUTO_CREATE_USER 模式。
# MySQL 5.7.8 中添加了 ERROR_FOR_DIVISION_BY_ZERO、NO_ZERO_DATE 和 NO_ZERO_IN_DATE 模式。
# select @@global.sql_mode;
# 非严格模式
sql_mode=IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
# 密码策略
default-authentication-plugin=mysql_native_password